.single-service-area {
  position: relative;
  display: block;
  padding: 100px 0 70px;
}

@media (min-width: 1200px) {
  .col-xl-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
  }
}
@media (min-width: 992px) {
  .col-lg-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 768px) {
  .col-md-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media (min-width: 576px) {
  .col-sm-12 {
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
  }
}

.single-service-top {
  position: relative;
  display: block;
  margin-top: -7px;
}
.single-service-top h1 {
  font-size: 40px;
  line-height: 48px;
  margin: 0 0 34px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #002f63;
  font-weight: 700;
  font-family: "Raleway", sans-serif;
  margin: 0;
}
.single-service-top .text {
  position: relative;
  display: block;
  padding-bottom: 46px;
}
@media (min-width: 1200px) {
  .col-xl-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
  }
}
.single-excellent-project .img-holder {
  position: relative;
  display: block;
  overflow: hidden;
  z-index: 10;
}
.single-excellent-project .img-holder:before {
  transform: scale(0, 1);
  transform-origin: bottom center;
  border-top: 2px solid #002f63;
  border-bottom: 2px solid #002f63;
}
.single-excellent-project .img-holder:before,
.single-excellent-project .img-holder:after {
  position: absolute;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  transition: all 700ms ease 500ms;
  border-radius: 0px;
  z-index: 1;
}
.single-excellent-project .img-holder img {
  width: 100%;
  transform: scale(1.01);
  transition: all 700ms ease;
}
.single-excellent-project .overlay-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "";
  background: rgb(9 9 9 / 44%);
  transform: scaleX(0);
  border: 2px solid #002f63;
  transition: all 700ms ease 100ms;
  z-index: 3;
}
.single-excellent-project .overlay-content .inner-content {
  display: table;
  width: 100%;
  height: 100%;
}
.single-excellent-project .overlay-content .inner-content .links-icons {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  transform: scale(0);
  transition: all 700ms ease 500ms;
}

.single-excellent-project .overlay-content .inner-content .links-icons li {
  display: inline-block;
  margin: 0 5.5px;
}
.single-excellent-project
  .overlay-content
  .inner-content
  .links-icons
  li
  a
  span:before {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background: #7f7f7f;
  border-radius: 50%;
  color: #ffffff;
  font-size: 18px;
  line-height: 60px;
  font-weight: 100;
  transition: all 500ms ease;
}
.single-excellent-project:hover .img-holder:before {
  transform: scale(1, 1);
}
.single-excellent-project:hover .img-holder:after {
  transform: scale(1, 1);
}
.single-excellent-project:hover .img-holder img {
  transform: scale(1.2) rotate(2deg);
}
.single-excellent-project:hover .overlay-content {
  transform: scaleY(1);
}
.single-excellent-project:hover .overlay-content .inner-content .links-icons {
  transform: scale(1);
}
.bg-items {
  padding: 10px;
  width: 200px;
  height: 160px;
  background-image: linear-gradient(
    to right top,
    #051937,
    #051e42,
    #04244c,
    #022958,
    #002f63
  );
  float: left;
  cursor: pointer;
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.5);
}

.items {
  width: 180px;
  height: 140px;

  position: relative;
  overflow: hidden;
  background-color: #102b46;
}

.details {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 140px;
  padding: 10px;
  top: 30px;
  left: 0;
  font-family: georgia;
  color: #fff;
  opacity: 0;
  transition: opacity 0.8s;
}

.details h3 {
  margin-bottom: 20px;
}

.details h6 {
  text-align: right;
  margin-top: 40px;
}

.details p {
  font-size: 14px;
  font-style: italic;
  text-align: center;
  line-height: 20px;
}

.items:hover .details {
  opacity: 1;
  transition: opacity 0.2s 0.3s;
}

.items div {
  position: absolute;
}

.three {
  left: 0;
  top: 0;
  width: inherit;
  height: inherit;
  background-color: rgba(0, 0, 0, 0.5);
  transition: all 0.3s;
  transform: scale(0, 0);
}

.items:hover .three {
  left: 0;
  top: 0;
  transform: scale(1, 1);
  transition: all 0.3s;
}
