@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css");
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
@-webkit-keyframes h-show {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
@keyframes h-show {
  0% {
    opacity: 0;
    top: -20px;
  }
  100% {
    opacity: 1;
    top: 0px;
  }
}
.container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
/* Apply the animation to the specified class */
.animate-fadeIn {
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  animation: h-show 0.6s ease-out 2s 1 forwards;
  -webkit-animation: h-show 0.6s ease-out 2s 1 forwards;
  top: -20px;
}

.full-slide {
  width: 100%;
  text-align: left;
  position: relative;
  overflow: hidden;
}
.full-slide ul {
  top: 50%;
  left: 50%;
  width: 100%;
  position: fixed;
  overflow: hidden;
}
.full-slide ul li {
  top: 0;
  left: 0;
  width: 100%;
  display: none;
  position: absolute;
}
.full-slide ul li img {
  width: 100%;
  -moz-transform: scale(1);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.full-slide a {
  cursor: default;
}

.full-slide ul li img {
  animation: slide-noact 20s ease-out 1 normal;
  -webkit-animation: slide-noact 20s ease-out 1 normal;
}

@-webkit-keyframes slide-noact {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes slide-noact {
  0% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1.1);
  }
}

.full-slide ul li.mainActive img {
  animation: slide-act 10s ease-out 1 normal;
  -webkit-animation: slide-act 10s ease-out 1 normal;
}

@-webkit-keyframes slide-act {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}
@keyframes slide-act {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.1);
  }
}

@layer components {
  .header {
    @apply fixed top-0 z-50 flex w-full items-center justify-between px-4 py-4 transition-all lg:px-10 lg:py-6;
  }
  .headerLink {
    @apply cursor-not-allowed text-sm font-light text-[#e5e5e5] transition duration-300 hover:text-[#b3b3b3];
  }
  .bannerButton {
    @apply cursor-pointer flex items-center gap-x-2 rounded px-5 py-1.5 text-sm font-semibold transition hover:opacity-75 md:py-2.5 md:px-8 md:text-xl;
  }
  .modalButton {
    @apply flex h-11 w-11 items-center justify-center rounded-full border-2 border-[gray] bg-[#2a2a2a]/60 transition hover:border-white hover:bg-white/10;
  }
  .input {
    @apply w-full rounded bg-[#333] px-5 py-3.5 placeholder-[gray] outline-none focus:bg-[#454545];
  }
  .planBox {
    @apply relative mx-1.5 flex items-center justify-center h-20 bg-[#e50914] w-[calc(100%/3)] cursor-default rounded-sm font-semibold shadow after:absolute after:top-full after:left-1/2 after:block after:-translate-x-1/2 after:border-8 after:border-b-0 after:border-transparent after:border-t-[#e50914] md:h-32 lg:mx-8;
  }
  .tableRow {
    @apply flex flex-wrap items-center font-medium;
  }
  .tableDataTitle {
    @apply w-full p-2.5 text-center text-sm font-normal text-white md:w-2/5 md:p-3.5 md:text-left md:text-base;
  }
  .tableDataFeature {
    @apply w-[calc(100%/3)] p-2.5 text-center md:w-[calc(60%/3)] md:p-3.5;
  }
  .membershipLink {
    @apply cursor-not-allowed text-blue-500 hover:underline;
  }

  .mainMenu {
    @apply md:hidden;
  }

  .mainMenu .MuiPaper-root {
    @apply !absolute !left-0 !rounded-none !border !border-[gray] !bg-black !text-white;
  }

  .mainMenu .MuiList-root {
    @apply !p-0;
  }

  .mainMenu .MuiMenuItem-root {
    @apply !block !w-72 !py-3.5 !text-center !text-sm !font-light !text-[#b3b3b3] !transition !duration-200 first:cursor-default first:!font-normal first:!text-white hover:!bg-[#11100F];
  }
  .font-white {
    @apply text-white;
  }
  .Border-white {
    @apply border-white;
  }
}
.slide {
  height: 70%;
  overflow: hidden;
  position: relative;
  background-color: "#000";
}
.slide > div {
  width: 100%;
  height: 100%;
  background-size: cover;
  position: absolute;
  animation: slide 20s infinite;
  opacity: 0;
}
.slide > div:nth-child(2) {
  animation-delay: 5s;
}
.slide > div:nth-child(3) {
  animation-delay: 10s;
}
.slide > div:nth-child(4) {
  animation-delay: 15s;
}
.slide > div:nth-child(5) {
  animation-delay: 20s;
}

@keyframes slide {
  10% {
    opacity: 1;
  }
  20% {
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  40% {
    transform: scale(1.1);
  }
}

/* Typewriter effect 1 */
@keyframes typing {
  0.0000%,
  27.3488% {
    content: "";
  }
  1.1395%,
  26.2093% {
    content: "o";
  }
  2.2791%,
  25.0698% {
    content: "op";
  }
  3.4186%,
  23.9302% {
    content: "opt";
  }
  4.5581%,
  22.7907% {
    content: "opti";
  }
  5.6977%,
  21.6512% {
    content: "optim";
  }
  6.8372%,
  20.5116% {
    content: "optimi";
  }
  7.9767%,
  19.3721% {
    content: "optimiz";
  }
  9.1163%,
  18.2326% {
    content: "optimize";
  }
  /* 10.2558%,
  17.0930% {
    content: "developer";
  } */

  30.7674%,
  51.2791% {
    content: "";
  }
  31.9070%,
  50.1395% {
    content: "i";
  }
  33.0465%,
  49.0000% {
    content: "in";
  }
  34.1860%,
  47.8605% {
    content: "inn";
  }
  35.3256%,
  46.7209% {
    content: "inno";
  }
  36.4651%,
  45.5814% {
    content: "innov";
  }
  37.6047%,
  44.4419% {
    content: "innova";
  }
  38.6047%,
  43.4419% {
    content: "innovat";
  }
  39.6047%,
  42.4419% {
    content: "innovate";
  }

  54.6977%,
  75.2093% {
    content: "";
  }
  55.8372%,
  74.0698% {
    content: "e";
  }
  56.9767%,
  72.9302% {
    content: "ec";
  }
  58.1163%,
  71.7907% {
    content: "eco";
  }
  59.2558%,
  70.6512% {
    content: "econ";
  }
  60.3953%,
  69.5116% {
    content: "econo";
  }
  61.5349%,
  68.3721% {
    content: "econom";
  }
  62.5349%,
  67.3721% {
    content: "economi";
  }
  63.5349%,
  66.3721% {
    content: "economiz";
  }
  64.5349%,
  65.3721% {
    content: "economize ";
  }

  78.6279%,
  96.8605% {
    content: "";
  }
  79.7674%,
  95.7209% {
    content: "p";
  }
  80.9070%,
  94.5814% {
    content: "pr";
  }
  82.0465%,
  93.4419% {
    content: "pre";
  }
  83.1860%,
  92.3023% {
    content: "pres";
  }
  84.3256%,
  91.1628% {
    content: "prese";
  }
  85.3256%,
  90.1628% {
    content: "preser";
  }
  86.3256%,
  89.1628% {
    content: "preserv";
  }
  87.3256%,
  88.1628% {
    content: "preserve";
  }
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.typewriter {
  --caret: currentcolor;
}

.typewriter::before {
  content: "";
  animation: typing 13.5s infinite;
}

.typewriter::after {
  content: "";
  border-right: 1px solid var(--caret);
  animation: blink 0.5s linear infinite;
}

.typewriter.thick::after {
  border-right: 1ch solid var(--caret);
}

.typewriter.nocaret::after {
  border-right: 0;
}

@media (prefers-reduced-motion) {
  .typewriter::after {
    animation: none;
  }

  @keyframes sequencePopup {
    0%,
    100% {
      content: "optimize";
    }
    25% {
      content: "innovate";
    }
    50% {
      content: "economize";
    }
    75% {
      content: "preserve";
    }
  }

  .typewriter::before {
    content: "optimize";
    animation: sequencePopup 12s linear infinite;
  }
}
.fa_tt_span span {
  display: inline-block;
  margin: 5px;
  background: #002f63;
  height: 8px;
  border-radius: 200px;
}

.fa_tt_span span:nth-child(1) {
  width: 30px;
  animation: fa_span01_ani 1.5s ease infinite alternate;
}

.fa_tt_span span:nth-child(2) {
  width: 95px;
  animation: fa_span02_ani 1.5s ease infinite alternate;
}

@keyframes fa_span01_ani {
  0% {
    width: 30px;
  }

  100% {
    width: 95px;
  }
}

@keyframes fa_span02_ani {
  0% {
    width: 95px;
  }

  100% {
    width: 30px;
  }
}

.p-text {
  margin-top: 0px;
  margin-bottom: 1rem;
}
.Marquee {
  /* background: -webkit-linear-gradient(225deg, #008ed9, #8b00db);
  background: -moz-linear-gradient(225deg, #008ed9, #8b00db);
  background: -o-linear-gradient(225deg, #008ed9, #8b00db);
  background: -ms-linear-gradient(225deg, #008ed9, #8b00db);
  background: linear-gradient(-135deg, #008ed9, #8b00db); */
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 1em;
  color: #fff;
  font-weight: 200;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  overflow: hidden;
}

.Marquee-content-2 {
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  -webkit-animation: marquee 50s linear infinite running;
  -moz-animation: marquee 50s linear infinite running;
  -o-animation: marquee 50s linear infinite running;
  -ms-animation: marquee 50s linear infinite running;
  animation: marquee 50s linear infinite running;
}
.Marquee-content:hover {
  -webkit-animation-play-state: paused;
  -moz-animation-play-state: paused;
  -o-animation-play-state: paused;
  -ms-animation-play-state: paused;
  animation-play-state: paused;
}
.Marquee-tag {
  width: 200px;
  margin: 0 0.5em;
  padding: 0.5em;
  background: rgba(255, 255, 255, 0.1);
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-box;
  display: inline-flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -o-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -o-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.Marquee-tag:hover {
  background: rgba(255, 255, 255, 0.5);
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -o-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  cursor: pointer;
}
@-moz-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@-webkit-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@-o-keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
@keyframes marquee {
  0% {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -o-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    -ms-transform: translate(-50%);
    transform: translate(-50%);
  }
}
.number-bg {
  background-color: hsla(0, 0%, 100%, 0.7);
  background-blend-mode: color;
  background-size: cover;
  background-position: 50%;
}

.rowCounter {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}
@media (min-width: 992px) {
  .col-lgc-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }
}
@media (min-width: 992px) {
  .pe-lg-5 {
    padding-right: 3rem !important;
  }
}
.counter-joinBtn {
  padding: 1rem;
  font-size: 1.25rem;
  border-radius: 0.5rem;
  transition: 0.3s ease-in-out;
}
@media (min-width: 992px) {
  .col-lg-7 {
    flex: 0 0 auto !important;
    width: 58.33333333% !important;
  }
}
.btn-primary {
  color: white;
  background-color: #002f63;
  border-color: #002f63;
}
.btn-primary:hover {
  color: white;
  background-color: #002f63;
  border-color: #002f63;
}
.col-primary {
  background-image: linear-gradient(
    242.52deg,
    hsl(240deg 100% 20%) 0%,
    hsl(237deg 100% 20%) 11%,
    hsl(233deg 100% 20%) 22%,
    hsl(230deg 100% 20%) 33%,
    hsl(228deg 100% 20%) 44%,
    hsl(224deg 100% 20%) 56%,
    hsl(221deg 100% 20%) 67%,
    hsl(218deg 100% 20%) 78%,
    hsl(215deg 100% 19%) 89%,
    hsl(212deg 100% 19%) 100%
  );
  background: linear-gradient(180deg, #090a67, #0f2959);
  /* background: linear-gradient(242.52deg, #8c000f -6.13%, #e42c40 102.02%); */
}
.offset-1 {
  margin-left: 8.33333333%;
}

.col-count-2 {
  flex: 0 0 auto;
  /* width: 16.66666667%; */
}
.col-body {
  isolation: isolate;
  height: 145px;
}
.col-primary:before {
  background: linear-gradient(
    138.48deg,
    hsla(246, 88%, 19%, 0.6) -44.69%,
    hsla(0, 72%, 76%, 0) 75.98%
  );
}
.col-body:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: calc(40% - 52px);
  top: calc(40% - 52px);
  width: 104px;
  height: 102px;
  background: linear-gradient(
    138.98deg,
    hsla(0, 0%, 93%, 0.8) 3.5%,
    hsla(0, 3%, 89%, 0) 88.86%
  );
  border-radius: 50%;
}
.col-light {
  background: #faf9f9;
  border: 1px solid #ededed;
}
.col-dark {
  background: linear-gradient(180deg, #393939, #232323);
  border: 1px solid #28292e;
}
.col-dark:before {
  background: linear-gradient(
    138.98deg,
    rgba(74, 74, 74, 0.6) 3.5%,
    rgba(47, 47, 47, 0) 88.86%
  );
}
.text-white-gradient {
  background: linear-gradient(
    182.04deg,
    #fff 22.95%,
    hsla(0, 0%, 77%, 0.9) 78.74%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.col-count-6 {
  flex: 0 0 auto;
  width: 50%;
}
.col-count-3 {
  flex: 0 0 auto;
  width: 25%;
}
.text-primary {
  opacity: 1;
  color: #002f63 !important;
}
.col-4 {
  flex: 0 0 auto;
  width: 33.33333333%;
}
.offset-2 {
  margin-left: 16.66666667%;
}
.col-dark-2 {
  background: linear-gradient(0deg, #252525, #232323);
  margin-top: -1px;
}
.bg-cover-center,
.bg-nor-cover-center,
.case-study-bg,
.number-bg,
.workforce-arrow:after {
  background-size: cover;
  background-position: 50%;
}
.newBox:hover {
  transition: all 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(38, 38, 38, 0.2);
  top: -4px;
  border: 1px solid #cccccc;
  background-color: white;
}
.breadcrumb-area {
  position: relative;
  background-attachment: scroll;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 33px 0 0px;
  z-index: 1;
}
.contact-info-area {
  position: relative;
  display: block;
  overflow: hidden;
  background: #f3f7fa;
}
.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

#c_form_058-1666706123945 .e_container-18 {
  position: relative;
  z-index: 20;
}
.fa_wrapper {
  max-width: 1620px;
  width: 92%;
  margin: auto;
  padding: 6vw 10px;
}
.fa_wrapper {
  padding-top: 50px !important;
  padding-bottom: 30px !important;
}
@media screen and (min-width: 769px) {
  #c_form_058-1666706123945 .e_container-19 {
    justify-content: space-between;
  }
}
#c_form_058-1666706123945 .e_container-19 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}

@media screen and (min-width: 769px) {
  #c_form_058-1666706123945 .e_container-19 > .p_item {
    width: calc((100% - 50px) / 2);
  }
}
#c_form_058-1666706123945 .e_container-41 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
  margin-top: 0px;
  margin-bottom: 3vw;
}
.s_summary {
  font-size: 20px;
  color: #0075bb;
  font-weight: 800;
  text-transform: uppercase;
}
.s_link {
  font-size: 50px;
  color: #333;
  font-weight: 600;
  line-height: 1.5;
  margin: 10px 0;
}
#c_form_058-1666706123945 .fa_tel_li {
  display: flex;
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: #eee solid 1px;
  position: relative;
}
#c_form_058-1666706123945 .e_container-30 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 100%;
}
#c_form_058-1666706123945 .fa_tel_li:before {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  transition: all 0.5s;
  opacity: 0;
  background: #002f63;
  height: 2px;
  content: "";
}
#c_form_058-1666706123945 .fa_tel_li > div:nth-child(1) {
  width: 80px;
}

#c_form_058-1666706123945 .fa_tel_li > div:nth-child(2) {
  width: calc(100% - 80px);
}
#c_form_058-1666706123945 .fa_tel_li .fa_tel_tt {
  font-size: 14px;
  color: #666;
  margin-bottom: 5px;
}
#c_form_058-1666706123945 .fa_tel_li .fa_tel_cnt {
  font-size: 18px;
  color: #000;
  font-weight: 500;
}
#c_form_058-1666706123945 .e_form-44 {
  margin-left: auto;
  margin-right: auto;
  background: #fff;
  background-image: url("/assets/contact/contact-us-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 2vw;
  border-radius: 15px;
  box-shadow: 0 5px 50px rgb(0 0 0 / 10%);
  background-color: #fff;
  max-width: none;
}

#c_form_058-1666706123945 .e_text-50 {
  line-height: normal;
  font-size: 20px;
  color: #000;
  margin-bottom: 30px;
}
#c_form_058-1666706123945 .fa_tel_li .fa_icon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  border: #002f63 solid 1px;
  transition: all 0.5s;
  color: #002f63;
  border-radius: 5px;
}
#c_form_058-1666706123945 .fa_tel_li:hover .fa_icon {
  background: #002f63;
  border-color: #002f63;
  color: #fff;
}
#c_form_058-1666706123945 .fa_tel_li:hover {
  border-bottom: #002f63 solid 1px;
}
#c_form_058-1666706123945 .e_form-44 .s_label {
  color: #212529;
}
.input-group {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.s_form_layout1 .e_address .cascader-wrap .zd-input__inner,
.s_form_layout1 .e_label .p_labelItem label,
.s_form_layout1 .e_rangeDate .j_date,
.s_form_layout1 .s_input {
  border: 1px solid #e1e1e1;
  background: 0 0;
  color: #666;
  padding: 0 15px;
  line-height: 1;
  border-radius: 2px !important;
  transition: all ease 0.15s;
}
.input-group > .form-control,
.input-group > .form-control-plaintext {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
  margin-bottom: 0;
}
.contact-form form input[type="text"],
.contact-form form input[type="email"],
.contact-form form textarea {
  position: relative;
  display: block;
  background: #ffffff;
  border: 1px solid #e2e8f0;
  width: 100%;
  height: 60px;
  font-size: 16px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 5px;
  margin-bottom: 30px;
  transition: all 500ms ease;
}

label {
  margin-bottom: 0.5rem;
}
.s_form_layout1 .e_rangeDate .j_date,
.s_form_layout1 input.s_input {
  height: calc(1.5em + 0.75rem + 5px);
}
#c_form_058-1666706123945 .e_container-26 > .p_item {
  flex: 1;
  max-width: 100%;
  max-height: 100%;
}
.alert,
.form-group {
  margin-bottom: 1rem;
}

.text {
  font-weight: 400;
  letter-spacing: 1.7px;
  font-size: 16px;
  fill: #000;
  text-shadow: 2px 0px #ffffff;
}
#rotatingText {
  animation-name: rotate-circle;
  animation-duration: 10s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes rotate-circle {
  to {
    transform: rotate(1turn);
  }
}
.main {
  display: grid;
  align-items: center;
  justify-items: center;
}

.circle {
  position: absolute;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem;
  margin: 4rem 5vw;
  padding: 0;
  list-style-type: none;
}

.card {
  position: relative;
  display: block;
  height: 100%;
  border-radius: calc(40 * 1px);
  overflow: hidden;
  text-decoration: none;
}

.card__image {
  width: 100%;
  height: auto;
}

.card__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: calc(40 * 1px);
  background-color: white;
  transform: translateY(100%);
  transition: 0.2s ease-in-out;
}

.card:hover .card__overlay {
  transform: translateY(0);
}

.card__header {
  position: relative;
  display: flex;
  align-items: center;
  gap: 2em;
  padding: 2em;
  border-radius: calc(40 * 1px) 0 0 0;
  background-color: white;
  transform: translateY(-100%);
  transition: 0.2s ease-in-out;
}

.card__arc {
  width: 80px;
  height: 80px;
  position: absolute;
  bottom: 100%;
  right: 0;
  z-index: 1;
}

.card__arc path {
  fill: white;
  d: path("M 40 80 c 22 0 40 -22 40 -40 v 40 Z");
}

.card:hover .card__header {
  transform: translateY(0);
}

.card__thumb {
  flex-shrink: 0;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card__title {
  font-size: 1em;
  margin: 0 0 0.3em;
  color: #6a515e;
}

.card__tagline {
  display: block;
  margin: 1em 0;
  font-family: "MockFlowFont";
  font-size: 0.8em;
  color: #d7bdca;
}

.card__status {
  font-size: 0.8em;
  color: #d7bdca;
}

.card__description {
  padding: 0 2em 2em;
  margin: 0;
  color: #d7bdca;
  font-family: "MockFlowFont";
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.card-front__heading {
  font-size: 1.3rem;
  margin-top: 0.25rem;
  color: #eee;
}

/* Main heading for inside page */
.inside-page__heading {
  padding-bottom: 0.5rem;
  width: 100%;
}

/* Mixed */

/* For both inside page's main heading and 'view me' text on card front cover */
.inside-page__heading,
.card-front__text-view {
  font-size: 1.2rem;
  font-weight: 800;
  margin-top: 0.2rem;
}

.inside-page__heading--city,
.card-front__text-view--city {
  color: #13274f;
}

.inside-page__heading--ski,
.card-front__text-view--ski {
  color: #13274f;
}

.inside-page__heading--beach,
.card-front__text-view--beach {
  color: #13274f;
}

/* Front cover */

.card-front__tp {
  color: #fafbfa;
}

/* For pricing text on card front cover */
.card-front__text-price {
  font-size: 1.2rem;
  margin-top: -0.2rem;
}

/* Back cover */

/* For inside page's body text */
.inside-page__text {
  color: #333;
}

/* Icons ===========================================*/

.card-front__icon {
  fill: #fafbfa;
  font-size: 3vw;
  height: 3.25rem;
  margin-top: -0.5rem;
  width: 3.25rem;
}

/* Buttons =================================================*/

.inside-page__btn {
  background-color: transparent;
  border: 3px solid;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  font-weight: 600;
  /* margin-top: 0.8rem; */
  overflow: hidden;
  position: relative;
  text-decoration: none;
  transition: all 0.3s ease;
  width: 90%;
  z-index: 10;
}

.inside-page__btn::before {
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: scaleY(0);
  transition: all 0.3s ease;
  width: 100%;
  z-index: -1;
}

.inside-page__btn--city {
  border-color: #13274f;
  color: #13274f;
}

.inside-page__btn--city::before {
  background-color: #13274f;
}

.inside-page__btn--ski {
  border-color: #13274f;
  color: #13274f;
}

.inside-page__btn--ski::before {
  background-color: #13274f;
}

.inside-page__btn--beach {
  border-color: #13274f;
  color: #13274f;
}

.inside-page__btn--beach::before {
  background-color: #13274f;
}

.inside-page__btn:hover {
  color: #fafbfa;
}

.inside-page__btn:hover::before {
  transform: scaleY(1);
}

/* Container to hold all cards in one place */
.card-area {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  height: 100%;
  justify-content: space-evenly;
}
@media (max-width: 600px) {
  .card-area {
    display: grid;
  }
  .card-section {
    margin-top: 1rem;
  }
}
@media (max-width: 700px) {
  .card-area {
    display: grid;
  }
}
/* Card ============================================*/

/* Area to hold an individual card */
.card-section {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  width: 100%;
}

/* A container to hold the flip card and the inside page */
.card {
  background-color: rgba(0, 0, 0, 0.05);
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.5);
  height: 15rem;
  position: relative;
  transition: all 1s ease;
  width: 15rem;
}

/* Flip card - covering both the front and inside front page */

/* An outer container to hold the flip card. This excludes the inside page */
.flip-card {
  height: 15rem;
  perspective: 100rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  visibility: hidden;
  width: 15rem;
  z-index: 100;
}

/* The outer container's visibility is set to hidden. This is to make everything within the container NOT set to hidden  */
/* This is done so content in the inside page can be selected */
.flip-card > * {
  visibility: visible;
}

/* An inner container to hold the flip card. This excludes the inside page */
.flip-card__container {
  height: 100%;
  position: absolute;
  right: 0;
  transform-origin: left;
  transform-style: preserve-3d;
  transition: all 1s ease;
  width: 100%;
}

.card-front,
.card-back {
  backface-visibility: hidden;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

/* Styling for the front side of the flip card */

/* container for the front side */
.card-front {
  background-color: #fafbfa;
  height: 15rem;
  width: 15rem;
}

/* Front side's top section */
.card-front__tp {
  align-items: center;
  clip-path: polygon(0 0, 100% 0, 100% 90%, 57% 90%, 50% 100%, 43% 90%, 0 90%);
  display: flex;
  flex-direction: column;
  height: 12rem;
  justify-content: center;
  padding: 0.75rem;
}

.card-front__tp--city {
  background-image: linear-gradient(
    to right top,
    #051937,
    #051e42,
    #04244c,
    #022958,
    #002f63
  );
}

.card-front__tp--ski {
  background-image: linear-gradient(
    to right top,
    #051937,
    #051e42,
    #04244c,
    #022958,
    #002f63
  );
}

.card-front__tp--beach {
  background-image: linear-gradient(
    to right top,
    #051937,
    #051e42,
    #04244c,
    #022958,
    #002f63
  );
}

/* Front card's bottom section */
.card-front__bt {
  align-items: center;
  display: flex;
  justify-content: center;
}

/* Styling for the back side of the flip card */

.card-back {
  background-color: #fafbfa;
  transform: rotateY(180deg);
}

/* Specifically targeting the <video> element */
.video__container {
  clip-path: polygon(0% 0%, 100% 0%, 90% 50%, 100% 100%, 0% 100%);
  height: auto;
  min-height: 100%;
  object-fit: cover;
  width: 100%;
}

/* Inside page */

.inside-page {
  background-color: #fafbfa;
  box-shadow: inset 20rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.25);
  height: 100%;
  padding: 1rem;
  position: absolute;
  right: 0;
  transition: all 1s ease;
  width: 15rem;
  z-index: 1;
}

.inside-page__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  text-align: center;
  width: 100%;
}

/* Functionality ====================================*/

/* This is to keep the card centered (within its container) when opened */
.card:hover {
  box-shadow: -0.1rem 1.7rem 6.6rem -3.2rem rgba(0, 0, 0, 0.75);
  width: 30rem;
}

/* When the card is hovered, the flip card container will rotate */
.card:hover .flip-card__container {
  transform: rotateY(-180deg);
}

/* When the card is hovered, the shadow on the inside page will shrink to the left */
.card:hover .inside-page {
  box-shadow: inset 1rem 0px 5rem -2.5rem rgba(0, 0, 0, 0.1);
}
.col,
.col-1,
.col-10,
.col-11,
.col-12,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-auto,
.col-lg,
.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-auto,
.col-md,
.col-md-1,
.col-md-10,
.col-md-11,
.col-md-12,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-auto,
.col-sm,
.col-sm-1,
.col-sm-10,
.col-sm-11,
.col-sm-12,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-auto,
.col-xl,
.col-xl-1,
.col-xl-10,
.col-xl-11,
.col-xl-12,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-auto {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
@media (min-width: 1200px) {
  .col-xl-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
  }
}
